@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin styleButton($bg-color, $border-color, $radius, $py, $px) {
    background-color: $bg-color;
    border: 1px solid $border-color;
    border-radius: $radius;
    padding: $py $px;
}
@mixin styleHoverButton($bg-color, $border-color, $color){
    background-color: $bg-color;
    border-color: $border-color;
    color: $color;
}
// $screen: chua ten man hinh
@mixin responsive($screen) {
    @if(map-has-key($map:$breakpoints, $key:$screen)) {
        $value: map-get($map:$breakpoints, $key:$screen);
        @media screen and (max-width:$value){
            @content;
        }
    } @else {
        @warn "Ten man hinh khng hop le!";
    }
}